* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


header {
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
    color: white;
}

h1 {
    line-height: 2;
    font-weight: bold
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #407294;
}

main {
    text-align: center;
    margin: 5px;
}

.game-box {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: repeat(3, 3fr);
    margin: 20px;
    width: 400px;
    height: 400px;

}

.small-box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    color: #407294;
    border: white solid 3px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;

}

.small-box:hover {
    cursor: pointer;
    background-color: gainsboro;
    transform: scale(1.2);
    transition: 0.5s;
}

.restart {
    padding: 5px 5px;
    border-radius: 7px; 
    border: 3px solid white;
    background-color: #407294; 
    color: white; 
    font-size: 60px;
  }
.restart:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

#turn {
    color: white;
    font-size: 60px;
    padding-bottom: 30px;
}

#coin {
    position: relative;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    cursor: pointer;
  }
  #coin div {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    -webkit-box-shadow: inset 0 0 45px rgba(255,255,255,.3), 0 12px 20px -10px rgba(0,0,0,.4);
       -moz-box-shadow: inset 0 0 45px rgba(255,255,255,.3), 0 12px 20px -10px rgba(0,0,0,.4);
            box-shadow: inset 0 0 45px rgba(255,255,255,.3), 0 12px 20px -10px rgba(0,0,0,.4);
  }
  .side-a {
    background-color: #bb0000;
  }
  .side-b {
    background-color: #3e3e3e;
  }
  
  #coin {
    transition: -webkit-transform 1s ease-in;
    -webkit-transform-style: preserve-3d;
  }
  #coin div {
    position: absolute;
    -webkit-backface-visibility: hidden;
  }
  .side-a {
    z-index: 100;
  }
  .side-b {
    -webkit-transform: rotateY(-180deg);
  
  }
  
  #coin.heads {
    -webkit-animation: flipHeads 3s ease-out forwards;
    -moz-animation: flipHeads 3s ease-out forwards;
      -o-animation: flipHeads 3s ease-out forwards;
         animation: flipHeads 3s ease-out forwards;
  }
  #coin.tails {
    -webkit-animation: flipTails 3s ease-out forwards;
    -moz-animation: flipTails 3s ease-out forwards;
      -o-animation: flipTails 3s ease-out forwards;
         animation: flipTails 3s ease-out forwards;
  }
  
  @-webkit-keyframes flipHeads {
    from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
    to { -webkit-transform: rotateY(1800deg); -moz-transform: rotateY(1800deg); transform: rotateY(1800deg); }
  }
  @-webkit-keyframes flipTails {
    from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
    to { -webkit-transform: rotateY(1980deg); -moz-transform: rotateY(1980deg); transform: rotateY(1980deg); }
  }
  