
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

main {
    text-align: center;
    margin: 70px;
}

.game-box {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: repeat(3, 3fr);
    margin: 40px;
    width: 300px;
    height: 300px;

}

.small-box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: greenyellow;
    border: hotpink solid 2px;
    margin: 10px;
}

.small-box:hover {
    cursor: pointer;
    background-color: black;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}